/* size is exactly 1280x720 */
body, p, div, span, h1, h2, h3, h4, h5, ul, li, html, body { margin: 0;	padding: 0; }
ul { list-style: none; }
ul li { float: left;}
a { border: 0;	outline: none !important; text-decoration: none; color: #FFF; }
body { font-family: arial; font-size: 18px; color: #000; width: 1280px; height: 720px;	
		 overflow: hidden;	background: transparent; }

/* main view */
#viewport {	position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;
				width: 1280px;	height: 720px;	overflow: hidden;	background: transparent; }

/* global objects */
.focusable { cursor: pointer; }

/* notification object */
#notifications
{
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
}

#notifications .msg
{
	padding: 20px;
	color: #fff;
	text-align: left;
	background: rgba(0, 0, 0, 0.7);
	margin-bottom: 2px;
	font-size: 22px;
}

/* throbber object */
.throbber
{
	position: absolute;
	z-index: 98;
	top: 360px;
	left: 50%;
	width: 71px;
	height: 71px;
	margin: -35px 0 0 -35px;
	background: transparent url('../img/throbber.png') no-repeat 0 0;
}

/* test button */
.button {
	height: 50px;
	border: 2px solid black;
	color:white;
	background: black;
	text-align: center;
	font-size: 24px;
	line-height: 50px;
	padding: 20px;
	float: left;
	font-weight: bold;
	margin-left: 10px;
}

.button.focus {
	background: white;
	color: black;
}

.scene {
	width: 1280px;
	height: 720px;
}

/* scene objects */
#scene-welcome .buttons-area {
	margin-left: 50px; margin-top: 50px;
}

#scene-test {
	background: gray;
}

#scene-test #originput {
	position: absolute;
	left: 10px;
	top: 150px;
	height: 100px;
	width: 320px;
	font-size: 40px;
	outline: none;
	padding: 0 10px;
	border: 1px solid black;
}

#scene-test .input-cover {
	position: absolute;
	left: 365px;
	top: 150px;
	height: 100px;
	width: 344px;
	font-size: 40px;
	outline: none;
	border: 1px solid black;
	background: white;
}

#scene-test .input-cover .input {
	background: white;
	font-family: Arial;
	line-height: 100px;
	font-size: 40px;
	padding: 0 10px;
	width: 322px;
	overflow: hidden;
}