<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<ThumbIcon itemtype="string">icons/samsung/SamsungApp-106x87.png</ThumbIcon>
	<BigThumbIcon itemtype="string">icons/samsung/SamsungApp-115x95.png</BigThumbIcon>
	<ListIcon itemtype="string">icons/samsung/SamsungApp-86x70.png</ListIcon>
	<BigListIcon itemtype="string">icons/samsung/SamsungApp-95x78.png</BigListIcon>
	<category itemtype="string"></category>
	<type itemtype="string">user</type>
	<cpname itemtype="string"></cpname>
	<cplogo itemtype="string"></cplogo>
	<cpauthjs itemtype="string"></cpauthjs>
	<ver itemtype="string">0.0.0.0</ver>
	<mgver itemtype="string"></mgver>
	<fullwidget itemtype="boolean">y</fullwidget>
	<srcctl itemtype="boolean">y</srcctl>
	<ticker itemtype="boolean">n</ticker>
	<mouse itemtype="boolean">y</mouse>
	<autorun itemtype="boolean">n</autorun>
	<childlock itemtype="boolean">n</childlock>
	<audiomute itemtype="boolean">n</audiomute>
	<videomute itemtype="boolean">n</videomute>
	<network itemtype="boolean">n</network>
	<dcont itemtype="string">y</dcont>
	<widgetname itemtype="string">PlayerKeyboardInfo Demo</widgetname>
	<description itemtype="string"></description>
	<width itemtype="number">1280</width>
	<height itemtype="number">720</height>
	<author itemtype="group">
		<name itemtype="string">Mautilus s.r.o</name>
		<email itemtype="string">info@mautilus.com</email>
		<link itemtype="string">http://www.mautilus.com</link>
		<organization itemtype="string"></organization>
	</author>
</widget>
